* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  color: #212529;
}

html {
  font-size: 62.5%;
}

.header {
  width: 100%;
  margin-bottom: 9.6rem;
}

.header.sticky {
  position: fixed;
  background-color: rgb(255, 224, 102, 0.9);
}

.title-section {
  display: flex;
  align-items: center;
  margin: 3rem 0;
}

.title-img {
  width: 12rem;
  padding: 2rem 2rem;
}

nav {
  height: 5rem;
}

/* Introduction */
.introduction-section {
  margin-bottom: 9.6rem;
}

.introduction {
  max-width: 150rem;
  margin: 0 auto;
  padding: 2rem 15rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 9.8rem;
  align-items: center;
}

.introduction-text-box h2 {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 3rem;
  text-align: center;
}

.introduction-text {
  font-size: 2rem;
  line-height: 4rem;
  margin-bottom: 2rem;
}

.introduction-btn-box {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.btn:link,
.btn:visited {
  font-size: 2rem;
  text-decoration: none;
  background-color: #fcc419;
  padding: 1rem 2rem;
  border-radius: 10px;
  transition: all 0.3s;
}

.btn:hover,
.btn:active {
  background-color: #ffe066;
}

.introduction-img {
  width: 100%;
  border-radius: 5px;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.05);
}

/* Brands */
.brands-section {
  max-width: 130rem;
  margin: 0 auto;
  padding: 2rem 15rem;
  margin-bottom: 9.6rem;
}

.brands-section-title {
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
}

/* Plans Freedom */
.plans-freedom-section {
  max-width: 150rem;
  margin: 0 auto;
  padding: 5rem 15rem;
  margin-bottom: 9.6rem;
}

.plans-freedom-text-box h2 {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 3rem;
  text-align: center;
}

.plans-freedom-text {
  font-size: 2rem;
  line-height: 4rem;
  margin-bottom: 2rem;
  text-align: center;
}

.plans-freedom-plans-box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
}

.plan {
  width: 85%;
  padding: 1rem 1.8rem;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.15);
  transition: all 0.4s;
}

.plan:hover {
  transform: translateY(-1rem);
  box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.1);
}

.plan-title {
  line-height: 6rem;
  margin-bottom: 4rem;
}

.plan-title h3 {
  font-size: 3.6rem;
  font-weight: 700;
}

.plan-title p {
  font-size: 3rem;
  font-weight: 700;
  color: #228be6;
}

.plan-content {
  color: #343a40;
  line-height: 4rem;
}

.plan-content li {
  font-size: 2.4rem;
  list-style: none;
}

.plan-custom {
  color: #343a40;
  font-size: 2.4rem;
}

.plan-content-checkmark {
  width: 2.4rem;
}

/* Testimonials */
.testimonials-section {
  max-width: 150rem;
  margin: 0 auto;
  padding: 5rem 15rem;
  margin-bottom: 9.6rem;
}

.testimonials-section h2 {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 3rem;
  text-align: center;
}

.testimonials-box {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3.6rem;
}

.testimonial {
  max-width: 80rem;
  height: 24rem;
  margin: 2rem auto;
  padding: 1.6rem 2rem;
  border-radius: 8px;
}

.testimonial-img {
  width: 6.2rem;
  height: 6.2rem;
  border-radius: 50%;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.05);
}

.testimonial-text {
  font-size: 2rem;
  line-height: 4rem;
}

/* Footer */
.footer-section {
  max-width: 150rem;
  margin: 0 auto;
  padding: 2rem 15rem;
  margin-bottom: 9.6rem;
}

.logo-part {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-part p {
  font-size: 3.6rem;
}

.socials {
  display: flex;
  gap: 1.6rem;
  justify-content: space-around;
}

.socials li {
  list-style: none;
}

.social-icon {
  height: 2.4rem;
  width: 2.4rem;
  color: #495057;
}

.copyright {
  text-align: center;
  margin-top: 4.4rem;
}

.address-col,
.nav-col {
  margin-top: 2.4rem;
  line-height: 5rem;
}

.footer-box h4 {
  font-size: 1.6rem;
  font-weight: 700;
}

.address-col p,
.nav-col p {
  font-size: 1.4rem;
}
